<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/src/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/src/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/src/scripts/third-party/jquery-3.1.1.min.js"></script>
    <script src="/src/scripts/third-party/bootstrap.min.js"></script>
    <script src="/src/scripts/game.js"></script>
</head>

<body>
    <div class='container'>
        <div class='row top'></div>
        <div class='row'>
            <div class='board grow'>
                <div class="deck card faceDown"></div>
                {{#if playedCards.length}}
                    <div class="playedCards card">
                        <div class="card suit{{playedCards.0.suit}}">
                            <p id='{{playedCards.0.id}}'>{{playedCards.0.value}}</p>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <span class="player">
        <div class="hand grow row">
            {{#each players.0.hand}}
                <div class="card suit{{suit}}">
                    <p id='{{id}}'>{{value}}</p>
                </div>
            {{/each}}
          </div>
          <div class='table grow row'>
            {{#each players.0.table}}
              {{#if faceUp}}
                <div class="card suit{{suit}}">
                  <p>{{value}}</p>
                </div>
              {{else}}
                <div class="card faceDown"></div>
              {{/if}}
            {{/each}}
          </div>
        </span>

    </div>
    </div>
    </div>
</body>

</html>
